<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/publication_list">Publications</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:nimazad@gmail.com">email</a></li>
	        		<li><a href="https://github.com/nimazad">github.com/nimazad</a></li>
	        		<li><a href="https://scholar.google.se/citations?user=hK3c7P0AAAAJ&hl=en">Google Scholar</a></li>
	        		<li><a href="https://www.linkedin.com/in/nimazad">Linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
